/*
BEM - Bloque Elemento Modificador

Class = aplicar estilos
Id = aplicar funcionalidad (javaScript)

.bloque
.bloque__elemento
.bloque_elemento--modificador

1. No usar ID
2. No usar etiquetas
3. Que todo sea una key selector (Seleccionar justo el elemento al cuál se le
darían estilos)
*/

/*BEM*/
.cards{
    width: 400px;
    margin: 10px auto;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cards__card{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    border-bottom: 1px solid #ccc;
}

.card__title{
    font-size: 24px;
    font-weight: bold;
}

.card__link {
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none;
}

.card__link--rojo {
    background: red;
}

/*FORMA CLÁSICA DE TRABAJAR*/
/*contexto*/ /*clave o key selector o también conocido como selector clave*/
/* .cards .card{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    border-bottom: 1px solid #ccc;
}

.cards .card h3{
    font-size: 24px;
    font-weight: bold;
}

.cards .card a {
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none;
} */